body{
  background-color: rgb(88, 90, 93);
}

button{
    padding: 30px 60px;
    background: rgb(21, 44, 53);
    outline: none;
    border: transparent;
    font-size: 18px;
    color: aliceblue;
    cursor: pointer;
    border-radius: 10%;
  }
  h1{
    color: rgb(0, 0, 0);

  }
  h3{
    color: rgb(10, 12, 13);
  }